/* form specific formatting */

.form-group {
    /* display: flex;
    flex-direction: row;
    /* align-content: stretch; */
    /* padding: 2%; */
    /* text-align: left; */
    /* width: 225px; */ 
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .25em;
}
.form-row > label {
    padding: .5em 1em .5em 0;
}
.form-row > input {
    flex: 1;
}
.form-row > input,
.form-row > button {
    padding: .5em;
}





input {
    flex-grow: 1;
    padding: 0.5em 0.75em;
    margin-bottom: 2%;
}

label {
    color: grey;
}

h1 {
    padding-bottom: 10px;
    font-size: 1.75em;
}

button {
    padding: 5px 15px;
    margin: 5px;
    min-width: 100px
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }
}

