body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #474044;
  background-color:#DFF8EB;
}
/* Swatches */
/* #474044 - Dark Liver
#DFF8EB - Honeydew
#B2967D - Grullo
#0C7C59 - Spanish Viridian
#23967F - Paolo Vernoise */


/* unvisited link */
a:link {
  color: #0C7C59;
}

/* visited link */
a:visited {
  color: #0C7C59;
}

/* mouse over link */
a:hover {
  color: #DFF8EB;
}

/* selected link */
a:active {
  color: #B2967D;
}